<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h1>Post</h1>
  <hr />
    <div class="row">
      <div class="col-md-2">
        <!--Number of comments-->
      </div>
      <div class="col-md-10">
        <div>
          <h2>Title: <%= @post.title %></h2>
        </div>
        <div>
          <p>Body: <%= @post.body %></p>
        </div>
        <div class="row">
          <%= link_to 'Edit', edit_user_post_path(@user, @post) %> |
          <%= link_to 'Back', posts_path %>
        </div>
      </div>
    </div>
</div>