<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h1>Question</h1>
  <hr />
    <div class="row">
      <div class="col-md-2">
        <!--Number of comments-->
      </div>
      <div class="col-md-10">
        <div>
          <h2>Title: <%= @post.title %></h2>
        </div>
        <div>
          <p>Body: <%= @post.body %></p>
        </div>
        <div>
          <%= link_to 'Edit', edit_user_post_path(@user, @post) %> |
          <%= link_to 'Back', posts_path %>
        </div>
        <hr />
        <div class= "comments_title">
          <h3><%= @post.comments.count %> Answers</h3>
        </div>
        <div id="comments/comment">
          <%= render :partial => @post.comments %>
        </div>
        <%= form_for [@post, Comment.new] do |f| %>
          <div class="form-group">
            <%= f.label :body %><br>
            <%= f.text_area :body, cols: 50, rows: 15, class: "form-control" %>
          </div>
          <br />
          <div class= "form-group">
            <%= f.submit "Add answer", class: "btn btn-primary" %>
          </div>
        <% end %>
        
      </div>
    </div>
</div>